<div class="topnav" (click)="toogleMenu('button')">
  <a class="active"
    ><img src="assets/easy_media_logo.png" height="40px" alt="" />
    <p id="logoName">Easy Media</p></a
  >
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks" *ngIf="menuOn">
    <p>{{name}}</p>
    <hr />
    <a routerLink="create-post">Create Publication</a>
    <a routerLink="my-posts">My Publications</a>
    <a routerLink="all-posts">See All Publications</a>
    <a (click)="logout()">Logout</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a class="icon">
    <img src="assets/bars-solid.png" height="30px" alt="" />
  </a>
</div>

<div style="margin-top: 70px"></div>

<section class="msg-section" (click)="toogleMenu('body')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

  

